<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hatoca_inlamningEntities" connectionString="metadata=res://*/GymModel.csdl|res://*/GymModel.ssdl|res://*/GymModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SCJU4H3Q;initial catalog=hatoca_inlamning;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>